NiFi_Flow.json
{"flowContents":{"identifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bee52f46-2478-3cd3-bce3-0fa149328fe0","name":"EvaluateJsonPath","comments":"","position":{"x":896.0,"y":280.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","temperature":"$.data_value","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"},{"identifier":"15998c27-4633-3238-b696-b5753b46fe3e","name":"ListenHTTP","comments":"","position":{"x":1280.0,"y":48.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.ListenHTTP","properties":{"Base Path":"contentListner","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"multipart-request-max-size":"1 MB","Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"Return Code":"200","Listening Port":"5000","HTTP Headers to receive as Attributes (Regex)":null,"Authorized DN Pattern":".*"},"propertyDescriptors":{"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized DN Pattern","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"},{"identifier":"dc18b00f-0741-3a1d-823b-ef0d32db6c87","name":"RouteOnAttribute","comments":"","position":{"x":1456.0,"y":480.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","temperature-alert":"${temperature:gt(30)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"temperature-alert":{"name":"temperature-alert","displayName":"temperature-alert","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"},{"identifier":"1fd3b106-5768-3e80-8ebf-02c39fcd65eb","name":"PutMongo","comments":"","position":{"x":1888.0,"y":216.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.mongodb.PutMongo","properties":{"mongo-client-service":null,"Upsert":"false","ssl-context-service":null,"ssl-client-auth":"NONE","Mode":"insert","Mongo Database Name":"SensorProject","Mongo URI":"mongodb://localhost:27017","Update Query Key":null,"Mongo Collection Name":"sensor","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"45337672-0b56-386e-943b-f6eb57a3b294","name":"","source":{"id":"15998c27-4633-3238-b696-b5753b46fe3e","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"ListenHTTP","comments":""},"destination":{"id":"bee52f46-2478-3cd3-bce3-0fa149328fe0","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"},{"identifier":"4605e022-a513-30d0-9222-8de58efd6988","name":"","source":{"id":"bee52f46-2478-3cd3-bce3-0fa149328fe0","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"EvaluateJsonPath","comments":""},"destination":{"id":"dc18b00f-0741-3a1d-823b-ef0d32db6c87","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"},{"identifier":"f4512655-d086-3f22-b0ad-6eb28b147183","name":"","source":{"id":"15998c27-4633-3238-b696-b5753b46fe3e","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"ListenHTTP","comments":""},"destination":{"id":"1fd3b106-5768-3e80-8ebf-02c39fcd65eb","type":"PROCESSOR","groupId":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e","name":"PutMongo","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f72608b5-3bb6-3dea-8c37-a7e40d56f36e"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}